@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
.container {
  height: 50;
  width: 100;
  background: yellow;
}
.appWrapper {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.dashboardButtonsWrapper .ant-input {
  border: none !important;
  border-bottom: 1px solid #9f9f9f;
}
